html
{
    background-color:Lime;
}
#div1
{
    float:left;
    width:25%;
    background-color:Blue;
    padding:10px;
    margin:15px;
}
#div2
{
    float:left;
    width:25%;
    background-color:Aqua;
     padding:10px;
    margin:15px;
}
#div3
{
    float:left;
    width:25%;
    background-color:Navy;
     padding:10px;
    margin:15px;
}